
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:row;
	flex-wrap:no-wrap;
	width:100vw;
	height:100vh;
}
.item-1{
	height:100px;
	width:100px;
	background-color:red;
}